@import "tailwindcss";

@theme {
  --color-se-jingga: #f79039;
  --color-se-kuning: #febd26;
  --color-se-kuning-terang: #ffd635;
  --color-se-krem: #fffbee;
  --color-se-hitam: #231f20;
}

:root {
  --background: #fffbee;
  --foreground: #231f20;
}

body {
  background: var(--color-se-krem);
  color: var(--color-se-hitam);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Elite Wow Factor: Override batasan lebar Embedista Instagram */
.instagram-media {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  max-height: none !important;
}

/* Sembunyikan scrollbar untuk area horizontal tapi tetap bisa digeser */
.no-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar,
.custom-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}